Flask==1.0.3
https://github.com/hasgeek/coaster/archive/master.zip
https://github.com/hasgeek/baseframe/archive/master.zip
Flask-SQLAlchemy==2.4.0
https://github.com/hasgeek/flask-lastuser/archive/master.zip
Flask-Script==2.0.6
https://github.com/jace/flask-alembic/archive/master.zip
