#logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/logo.png?1368981053');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 150px;
  height: 75px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  #logo {
    background-image: url('../img/logo@2x.png?1368981057');
    -webkit-background-size: 150px 75px;
  }
}
.post-set {
  list-style: none;
}

.post-item {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 10px;
}

.post-vote {
  float: left;
  width: 1.5em;
}

.post-main {
  margin-left: 1.5em;
}
.post-main .title {
  font-size: 110%;
  font-weight: 600;
}
