{% extends "layout.html.jinja2" %}
{% from "commentease/macros.html.jinja2" import comments, ajaxcomments %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
  {%- if post.url %}
    <p>
      <large><a href="{{ post.url }}">{{ post.url }}</a></large>
    </p>
  {%- endif %}
  {%- if post.description_html %}
    {{ post.description_html }}
  {%- endif %}
  {% if post.comments %}
      {{ comments(post, g.user, post.url_for('comments'), commentease_forms) }}
  {% endif %}
{% endblock %}

{#{% block footerscripts %}
  {{ ajaxcomments(request) }}
{% endblock %}
#}
